dnspython
google-api-python-client
google-auth-oauthlib
oauth2client==3.0.0
lxml
psutil
motor
python-dotenv
python-magic
python-magic-bin==0.4.14
requests
tenacity
pyrogram
hachoir
pytz
beautifulsoup4
colorama
construct
cryptography
cssutils
ffmpy
future
HTMLParser
httpx
inquirer
isodate
natsort
nltk
pproxy
prettytable
protobuf==3.20.1
pycountry
pycryptodome
pycryptodomex
PyJWT
pymediainfo
pysrt
Requests
six
svtplay_dl
termcolor
titlecase
tldextract
toml
tqdm
Unidecode
urllib3
wcwidth
xmltodict
yarl
